body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-site{
  height: 200px;
}

.formDevise{
  background-color: rgb(48, 203, 97);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.456);
  max-width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 1%;
  
}
.positionDevise{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2%;
}
ul{
  padding: 0;
}

li{
 list-style-type: none;
 width: auto;
}
